:root {
    --green: #3DB39E;
    --gray: #F6F4F0;
}

body {
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: var(--green);
    padding: 2rem 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

header a {
    display: flex;   
    align-items: center;
    gap: 1rem;
    color: white;
    text-decoration: none;
}

header svg {
    fill: white;
    width: 3rem;
}

section {
    border: 1px solid lightblue;
    background-color: var(--gray);
    padding: 1rem;
}

section div:first-of-type {
    position: relative;
}

section svg {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
}

section:last-of-type svg {
    left: 1rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2 {
    width: 100%;
}

@media(min-width: 700px) {
    header a {
        justify-content: space-between;
    }

    main .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    section {
        flex-basis: 30%;
        flex-grow: 1;
    }
}